@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="btn btn-outline-primary" asp-controller="Admin" asp-action="Index3">Customers</a>

<a class="btn btn-outline-primary" asp-controller="Admin" asp-action="AddType">Add vehicle type</a>
